.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px;
  background-color: none;
}

.container:hover {
  background-color: white;
}

.left {
  width: 200px;
  height: 70px;
}

.left > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.category {
  display: flex;
  flex-direction: row;
  gap: 70px;
  font-weight: bold;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logo {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 999px;
  padding: 3px;
}
